{{define "content"}}
<h1>
    {{.Page.Title}}
</h1>
{{.Page.Content}}
<div class="section-pages">
    <ul>
        {{range .Pages}}
        <li>
            <div class="text">
                <h2>{{.LinkTitle}}</h2>
                {{with .Page.Params.Overview}}
                <em> {{.}} </em>
                {{end}}
                {{if .Resources.ByType "image"}}
            </div>
                {{range first 1 (.Resources.ByType "image")}}
            <img src="{{.Permalink}}"/>
            {{end}}
            {{else}}
            <p>{{.Summary}}</p>
            </div>
            {{end}}
            <a href="{{.Permalink}}"></a>
        </li>
        {{end}}
    </ul>
</div>
{{end}}