@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Merriweather+Sans:wght@300&display=swap');


body {
    font-family: "Merriweather Sans", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
}

a {
    color: darkgreen;
    :visited {
        color: forestgreen;
    }
}

blockquote {
    font-style: italic;
    background: rgba(230, 250, 230, .95);
    border: 1px solid grey;
    padding-left: 1em;
}

img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.background {
    display: none;
}

.border {
    display: grid;
    grid-template-areas: "sidebar" "content";
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    margin: auto;
    height: 100%;
}

.sidebar ul li {
    list-style: none;
}

@media print {
    body {
        font-size: 12px;
    }

    .sidebar .navigation {
        display: none;
    }
}

@media screen {
    .background {
        display: initial;
        height: 100%;
        width: 100%;
        z-index: -1;    
        background-image: url('./highways.svg');
        background-position: center;
        background-size: cover;
        position: absolute;
    }

    .sidebar {
        background: rgba(230, 250, 230, 0.95);
        grid-area: sidebar;
        padding: 0 0.5em;
        h1, h2, h3, h4, h5, h6 {
            border-left: 2px solid forestgreen;
            padding-left: 0.5em;
        }
    }

    .content {
        background: rgba(255, 255, 255, 0.95);
        grid-area: content;
        padding-left: 0.5em;
    }    

    @media (min-width: 600px) {
        .border {
            grid-template-areas: "sidebar content";
            grid-template-columns: 300px 1fr;
            grid-template-rows: 100%;
        }

        .sidebar {
            height: 100%;
            overflow-y: auto;
        }

        .content {
            overflow-y: auto;
        }
    }

    @media (min-width: 900px) {
        .border {
            width: 900px;
        }
    }
}